nav{
    padding: 1em;
    border-bottom: 1px solid #aaa;
}

ul{
    list-style-type: none;
    width: 90%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul li{
    display: inline;
    margin-left: 10px;
}

ul li a{
    text-decoration: none;
    color: #aaa;
}